<h2>Update Your Article </h2>

<form method="POST" action="/articles/<%= id %>/?_method=PUT" >

<label for="articleType">Type</label>

<input type="text" name="articleType" value="<%= article.title%>">

<label for="articleName">Name</label>

<input type="text" name="articleName" value="<%= article.body%>">

<input type="submit" value="Make New Article">

</form>












